#rect {
    width: 400px;
    height: 200px;
    background-color: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #fc0;
    border: 0;
    border-radius: 50px;
}

#c1 {
    position: absolute;
    left: -50px;
    top: -50px;
}

#c2 {
    position: absolute;
    right: -50px;
    bottom: -50px;
}