* {
    margin: 0;
    padding: 0;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* 定义伸缩项目沿主轴线的对齐方式 */
    justify-content: space-between;
}

[class*='item']{
    margin: 20px;
    border: 1px solid #f00;
}

@media only screen and (min-width:640px) {
    .flex-container{ align-items:center; }
    .item-md-1{ width:150px;  height:120px; order:1; }
    .item-md-2{ width:150px;  height:100px; order:2; }
    .item-md-3{ width:150px;  height:40px; order:3;}
    .item-md-4{ width:150px;  height:200px; order:4; border-color:#00f; }
}
@media only screen and (max-width:640px) {
    .flex-container{ align-items:flex-start; }
    .item-sm-1{ width:150px;  height:120px; order:2; }
    .item-sm-2{ width:150px;  height:100px; order:3; }
    .item-sm-3{ width:150px;  height:40px; order:4; }
    .item-sm-4{ width:150px;  height:200px; order:1; border-color:#00f; }
}